<div class="container mt-5">
  <div class="row">
    <div class="col-md-9 mx-md-auto">
      <div class="text-center">
        <h4><%= @article.title %></h4>
      </div>
      <p><%= @article.content %></p>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Back", articles_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
